@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.cdnfonts.com/css/aventa-personal-use-only");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Aventa Personal Use Only", sans-serif;
    background-color: #04030d;
    overflow-x: hidden;
}

.galaxy_bg {
    width: 100%;
    min-height: 850px;
    background-image: url(../img/header/galaxy_bg.png);
    background-size: cover;
    background-position: center center;
    position: absolute;
}

.header {
    padding-top: 32px;
    position: relative;
    z-index: 20;
}

.header-conatiner {
    max-width: 1372px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}

.header_logo_link {
    max-width: 190px;
    width: 100%;
    margin-right: 60px;
}

.header_logo {
    display: block;
    width: 100%;
    object-fit: cover;
}

.header_nav_list {
    display: flex;
    align-items: center;
    gap: 44px;
    list-style: none;
    padding-top: 10px;
}

.header_nav_link {
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    color: white;
    text-decoration: none;
    word-spacing: 9px;
}

.header_nav_link>span {
    color: rgba(255, 255, 255, 0.25);
    font-size: 14px;
}

.header_discord_link {
    display: flex;
    align-items: center;
    gap: 14px;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-decoration: none;
    color: white;
    margin-left: auto;
    margin-right: 40px;
}

.header_login_btn {
    display: block;
    padding: 17px 21px;
    background-color: transparent;
    border: 1px solid #373ea8;
    border-radius: 12px;
    margin-right: 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 10px;
    color: white;
    /* border-image: linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)),
    linear-gradient(0deg, rgba(72, 82, 245, 0.2), rgba(72, 82, 245, 0.2)) 1;
    border-image-slice: 1; */
}

.header_get_futured_btn {
    width: 161px;
    overflow: hidden;
    padding: 12px 24px;
    border: 1px solid #99daff4d;
    border-radius: 12px;
    box-shadow: 0px 0px 30px 0px #3a48e080;
    background-color: #3a48e0;
    font-size: 14px;
    font-weight: 400;
    line-height: 10px;
    color: white;
    position: relative;
    z-index: 10;
    cursor: pointer;
}

.header_get_futured_btn>div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    position: relative;
    z-index: 20;
}

.elipse {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
    /* display: none; */
}

.hero {
    padding-top: 139px;
    padding-bottom: 101px;
    position: relative;
    z-index: 20;
}

.hero_container {
    max-width: 728px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
}

.hero_elipse {
    position: absolute;
    top: -100px;
    left: 0;
    z-index: 10;
}

.hero_title {
    font-size: 100px;
    font-weight: 400;
    letter-spacing: -0.02em;
    text-align: center;
    background: linear-gradient(179.8deg, #d3d5e5 0.17%, #aeb0c9 99.83%);
    -webkit-background-clip: text;
    color: transparent;
    position: relative;
    z-index: 20;
    margin-bottom: 15px;
}

.hero_text {
    max-width: 445px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    background: linear-gradient(90deg, #b9c3f4 0%, #6c728e 100%);
    -webkit-background-clip: text;
    color: transparent;
    position: relative;
    z-index: 20;
    margin-bottom: 44px;
}

.hero_inp_box {
    position: relative;
    z-index: 20;
    max-width: 688px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #25293b;
    padding: 8px 8px 7px 16px;
    border-radius: 16px;
    /* border-image-source: linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)),
        linear-gradient(53.56deg, rgba(0, 0, 0, 0) 41.08%, #8E92EE 58.93%, #3B49E0 65.08%, #000000 87.85%); */
}

.hero_input,
.hero_input::placeholder {
    position: relative;
    z-index: 20;
    font-size: 16px;
    font-weight: 400;
    line-height: 10px;
    background-color: transparent;
    border: none;
    outline: none;
    color: #8b8ebd;
    width: 100%;
}

.hero_search_btn {
    position: relative;
    z-index: 20;
    padding: 13px 24px;
    position: relative;
    background-color: #3a48e0;
    border: 1px solid #99daff4d;
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 30px 0px #3a48e080;
}

.hero_search_btn>div {
    z-index: 20px;
    display: flex;
    align-items: center;
    gap: 12px;
    position: relative;
    z-index: 30;
}

.hero_search_btn>div>span {
    font-size: 14px;
    font-weight: 400;
    line-height: 10px;
    color: white;
}

.hero_search_btn_elipse {
    position: absolute;
    bottom: -5px;
    left: 0;
    z-index: -1;
}

.search_elipse {
    position: absolute;
    z-index: -10;
    /* background-color: red; */
    left: 72px;
}

@media (max-width: 1024px) {
    .hero {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .hero_title {
        font-size: 64px;
    }
}

@media (max-width: 768px) {
    .hero {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .hero_title {
        font-size: 48px;
    }

    .hero_text {
        font-size: 14px;
    }
}

.articles {
    position: relative; 
    z-index: 20;
    padding-bottom: 14px;
}

.articles_container {
    max-width: 965px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.article_link {
    background: linear-gradient(180deg,
            rgba(8, 5, 32, 0.4) 0%,
            rgba(38, 42, 84, 0.4) 100%);
    border: 1px solid #ffffff1a;
    border-radius: 100px;
    backdrop-filter: blur(4px);
    padding: 14px 16px;
    font-size: 14px;
    font-weight: 400;
    line-height: 10px;
    text-decoration: none;

    margin-bottom: 28px;
}

.article_link>span {
    background: linear-gradient(90deg, #b9c3f4 0%, #6c728e 100%);
    -webkit-background-clip: text;
    color: transparent;
}

.article_card_box {
    position: relative;
    width: 100%;
    margin-bottom: 32px;
}

.article_card {
    position: relative;
    z-index: 30;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background: linear-gradient(360deg,
            rgba(16, 20, 57, 0.2) 0%,
            rgba(7, 8, 33, 0.2) 100%);
    border: 1px solid #080a20;
    border-radius: 24px;
    backdrop-filter: blur(10px);
    /* border-image-source: linear-gradient(53.56deg, rgba(0, 0, 0, 0) 41.08%, #8E92EE 58.93%, #3B49E0 65.08%, #000000 87.85%); */
    padding: 16px;
}

.article_card_2 {
    background: linear-gradient(360deg,
            rgba(16, 20, 57, 0.2) 0%,
            rgba(7, 8, 33, 0.2) 100%);
    backdrop-filter: blur(282.4864807128906px);
    border: 0.94px solid #ffffff1a;
    max-width: 871px;
    position: absolute;
    top: 15px;
    left: 27px;
    z-index: 10;
}

.article_left {
    max-width: 488px;
    width: 100%;
    padding: 14px 0 13px 14px;
}

.article_card_subtitle {
    font-size: 14px;
    font-weight: 400;
    line-height: 10px;
    color: #70707a;
    margin-bottom: 35px;
}

.article_card_title {
    max-width: 467px;
    font-size: 28px;
    font-weight: 400;
    line-height: 28px;
    background: linear-gradient(0deg, #ffffff, #ffffff),
        linear-gradient(179.8deg, #d3d5e5 0.17%, #aeb0c9 99.83%);
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 16px;
}

.article_card_text {
    max-width: 466px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.2px;
    letter-spacing: -0.02em;
    background: linear-gradient(90deg, #b9c3f4 0%, #6c728e 100%);
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 32px;
}

.article_card_link {
    display: flex;
    max-width: 120px;
    padding: 17px 24px;
    border: 1px solid, #2f3369;
    border-radius: 12px;
    border-image-source: linear-gradient(0deg,
            rgba(255, 255, 255, 0.1),
            rgba(255, 255, 255, 0.1)),
        linear-gradient(0deg, rgba(72, 82, 245, 0.2), rgba(72, 82, 245, 0.2));
    background-color: #4852f50d;
    overflow: hidden;
    text-decoration: none;
    position: relative;
}

.article_card_link_text {
    font-size: 14px;
    font-weight: 400;
    line-height: 10px;
    color: white;
    position: relative;
    z-index: 20;
}

.article_card_link_bg {
    position: absolute;
    bottom: -4px;
    right: 0;
    z-index: 10;
}

.article_right {
    max-width: 280px;
    width: 100%;
    display: flex;
    border-radius: 18px;
    overflow: hidden;
}

.article_card_2>.article_right {
    max-width: 263px;
}

.article_right_img {
    width: 100%;
    object-fit: cover;
}

.article_line_box {
    max-width: 196px;
    height: 33px;
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
}

.article_bottom_line_star {
    position: absolute;
    display: block;
    z-index: 30;
    top: 0;
    left: 0;
}

.article_bottom_line {
    width: 100%;
    height: 2px;
    background-color: #8b8fd680;
    border-radius: 90px;
    position: relative;
    z-index: 20;
}

.article_bottom_small_line {
    display: block;
    border-radius: 90px;
    max-width: 35px;
    width: 100%;
    height: 2px;
    background-color: #afb2ed;
    box-shadow: 0px 0px 8px 0px #b9c3f4, 0px 0px 4px 0px #5a62e9;
    /* Ikki box-shadow birga */
}

@media (max-width: 1024px) {
    .article_card_2 {
        display: none;
    }

    .article_bottom_line {
        display: none;
    }
}

@media (max-width: 768px) {
    .article_card {
        align-items: start;
    }

    .article_card {
        flex-direction: column-reverse;
        padding: 0;
    }

    .article_left {
        padding: 14px;
    }

    .article_right {
        max-width: none;
    }

    .article_right_img {
        height: 274px;
    }

    .article_card_title {
        font-size: 20px;
    }
}

.category {
    padding-top: 149px;
}

.category_container {
    max-width: 1188px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.category_top {
    max-width: 516px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    /* background-image: url(../components/images/category/stars.png);
    background-size: cover;
    background-position: center center; */
    position: relative;
    margin-bottom: 50px;
}

.category_filter_btn_line {
    position: absolute;
    bottom: 0;
    left: 17px;
    width: 72px;
    height: 1px;
    background: linear-gradient(90.02deg,
            rgba(255, 255, 255, 0) 4.88%,
            #ffffff 43.67%,
            rgba(255, 255, 255, 0) 91.08%);
}

.category_filter_box {
    width: 100%;
    display: flex;
    align-items: center;
    border: 1px solid #ffffff1a;
    border-radius: 40px;
    backdrop-filter: blur(4px);
    padding: 6px;
    position: relative;
}

.caregory_title {
    font-size: 55px;
    font-weight: 400;
    /* line-height: 55px; */
    letter-spacing: -0.02em;
    text-align: center;
    background: linear-gradient(179.8deg, #d3d5e5 0.17%, #aeb0c9 99.83%);
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 60px;
}

.category_filter_btn {
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px;
    border-radius: 100px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: -0.02em;
    color: #87888a;
}

.category_filter_btn_active {
    background: linear-gradient(173deg, #1a2047 21.58%, #3f4b76 134.28%);
}

.category_filter_btn_active>span {
    background: linear-gradient(90deg, #999fff 0%, #ffc0c0 100%),
        linear-gradient(179.8deg, #d3d5e5 0.17%, #aeb0c9 99.83%);
    -webkit-background-clip: text;
    color: transparent;
}

.category_card_box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 26px;
    grid-row-gap: 26px;
    margin-bottom: 60px;
}

.category_card {
    width: 100%;
    padding: 343px 16px 30px 16px;
    position: relative;
    border: 1.3px solid #1a1b30;
    background-color: #040414;
    border-radius: 24px;
}

.category_card_top_box {
    max-width: 333px;
    height: 327px;
    width: 100%;
    position: absolute;
    top: 16px;
    left: 16px;
    border-radius: 16px;
    overflow: hidden;
}

.category_card_top {
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50.69%, #040414 100%);
    position: relative;
}

.category_info_text {
    padding: 14px 16px;
    background: #08052066;
    border: 1px solid #ffffff1a;
    border-radius: 100px;
    font-size: 14px;
    font-weight: 400;
    line-height: 10px;
    color: #dfe1f1;
    position: absolute;
    top: 13px;
    left: 14px;
}

.category_top_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.category_card_bottom {
    padding-left: 14px;
    padding-right: 14px;
    position: relative;
    z-index: 20;
}

.category_card_subtitle {
    font-size: 14px;
    font-weight: 400;
    line-height: 10px;
    color: #686871;
    margin-bottom: 24px;
}

.category_card_title {
    font-size: 24px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: -0.03em;
    background: linear-gradient(0deg, #ffffff, #ffffff),
        linear-gradient(179.8deg, #d3d5e5 0.17%, #aeb0c9 99.83%);
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 20px;
}

.category_card_text {
    font-size: 14px;
    font-weight: 400;
    line-height: 18.2px;
    letter-spacing: -0.02em;
    background: linear-gradient(90deg, #b9c3f4 0%, #6c728e 100%);
    -webkit-background-clip: text;
    color: transparent;
}

.category_bottom_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 152px;
    margin-left: auto;
    margin-right: auto;
    padding: 12px 0px;
    background-color: #3a48e0;
    border: 1px solid #99daff4d;
    border-radius: 12px;
    position: relative;
    box-shadow: 0px 0px 30px 0px #3a48e080;
    text-decoration: none;
}

.category_bottom_btn>div {
    display: flex;
    align-items: center;
    gap: 12px;
    position: relative;
    z-index: 20;
}

.category_bottom_btn_text {
    font-size: 14px;
    font-weight: 400;
    line-height: 10px;
    color: white;
}

.category_bottom_btn_elipse {
    position: absolute;
    bottom: -4px;
    left: 0;
}

@media (max-width: 1024px) {
    .article_line_box {
        display: none;
    }

    .article_card_box {
        margin-bottom: 0;
    }

    .category {
        padding-top: 70px;
    }

    .category_card_box {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 26px;
        grid-row-gap: 26px;
        margin-bottom: 60px;
    }

    .caregory_title {
        font-size: 40px;
        margin-bottom: 20px;
    }

    .category_card_top_box {
        max-width: none;
        width: 100%;
        left: 0;
        top: 0;
    }

    .category_card_top {
        height: 327px;
    }

    .category_bottom_btn_elipse {
        bottom: 0;
    }
}

@media (max-width: 768px) {
    .category {
        padding-top: 50px;
    }

    .category_card_box {
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 26px;
        grid-row-gap: 26px;
        margin-bottom: 30px;
    }

    .caregory_title {
        font-size: 32px;
    }

    .category_card {
        padding-top: 210px;
    }

    .category_card_top_box {
        height: 200px;
    }

    .category_card_top {
        height: 200px;
    }

    .category_card_title {
        font-size: 20px;
        line-height: 100%;
        margin-bottom: 15px;
    }

    .category_card_subtitle {
        margin-bottom: 19px;
    }

    .category_filter_box {
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }

    .category_filter_btn {
        padding: 8px;
        font-size: 12px;
        width: auto;
    }

    .category_filter_btn_line {
        left: 13px;
    }
}

@media (max-width: 450px) {
    .category_filter_box {
        border: none;
        flex-wrap: wrap;
        gap: 10px;
    }

    .category_filter_btn_line {
        display: none;
    }
}

.social {
    padding-top: 151px;
    padding-bottom: 175px;
}

.socila_container {
    max-width: 1188px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.social_card {
    border: 1.5px solid #191927;
    /* border-image-source: linear-gradient(105.98deg, rgba(213, 223, 255, 0.1) 38.87%, rgba(128, 134, 153, 0.1) 82.23%); */
    backdrop-filter: blur(8px);
    background: linear-gradient(165.83deg,
            rgba(255, 255, 255, 0) 4.29%,
            rgba(255, 255, 255, 0.008) 72.39%);
    padding-top: 203px;
    padding-bottom: 40px;
    padding-left: 52px;
    padding-right: 52px;
    border-radius: 16px;
    width: 100%;
}

.email {
    background-image: url(../img/social/email.png);
    background-size: cover;
    background-position: center center;
}

.telegram {
    background-image: url(../img/social/telegram.png);
    background-size: cover;
    background-position: center center;
}

.discord {
    background-image: url(../img/social/discord.png);
    background-size: cover;
    background-position: center center;
}

.social_card_title {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.02em;
    text-align: center;
    margin-bottom: 16px;
    background: linear-gradient(179.8deg, #d3d5e5 0.17%, #aeb0c9 99.83%);
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 18px;
}

.social_text {
    max-width: 257px;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    background: linear-gradient(90deg, #b9c3f4 0%, #6c728e 100%);
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 27px;
}

.social_form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background: linear-gradient(165.83deg,
            rgba(255, 255, 255, 0.012) 4.29%,
            rgba(255, 255, 255, 0.005) 72.39%);
    border: 1.5px solid #1a1a26;
    border-radius: 12px;
    overflow: hidden;
    /* border-image-source: linear-gradient(145.19deg, rgba(213, 223, 255, 0.1) 20.51%, rgba(128, 134, 153, 0.1) 94.24%); */
}

.social_email {
    background-color: transparent;
    padding-left: 20px;
    padding-top: 18px;
    padding-bottom: 18px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 12px;
    font-weight: 400;
    line-height: 8px;
    color: #d9d9d9;
    height: 8px;
}

.social_email::placeholder {
    font-size: 12px;
    font-weight: 400;
    line-height: 8px;
    color: #5b5a60;
}

.social_email_submit_btn {
    max-width: 44px;
    width: 100%;
    display: flex;
    padding: 12px;
    background-color: #3a48e0;
    border: 1px solid #99daff4d;
    border-radius: 12px;
    transition: all 0.3s;
    box-shadow: 0px 0px 30px 0px #3a48e080;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.social_email_submit_btn_arrow {
    position: relative;
    z-index: 20;
    height: 20px;
}

.social_email_submit_btn_elipse {
    position: absolute;
    bottom: -4px;
    left: 0;
}

.social_telegram_link {
    box-shadow: 0px 0px 30px 0px #3a48e080;
    position: relative;
    background-color: #3a48e0;
    border: 1px solid #99daff4d;
    border-radius: 12px;
    padding: 12px 24px;
    display: flex;
    max-width: 218px;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.social_telegram_link>div {
    display: flex;
    align-items: center;
    gap: 12px;
    position: relative;
    z-index: 20;
}

.social_telegram_link_text {
    font-size: 14px;
    font-weight: 400;
    line-height: 10px;
    color: white;
}

.social_telegram_link_elipse {
    position: absolute;
    bottom: -4px;
    left: 0;
}

.social_discord_link {
    box-shadow: 0px 0px 30px 0px #3a48e080;
    position: relative;
    background-color: #3a48e0;
    border: 1px solid #99daff4d;
    border-radius: 12px;
    padding: 12px 24px;
    display: flex;
    max-width: 206px;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.social_discord_link>div {
    display: flex;
    align-items: center;
    gap: 12px;
    position: relative;
    z-index: 20;
}

.social_discord_link_text {
    font-size: 14px;
    font-weight: 400;
    line-height: 10px;
    color: white;
}

.social_discord_link_elipse {
    position: absolute;
    bottom: -4px;
    left: 0;
}

@media (max-width: 1100px) {
    .social {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .socila_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 26px;
        grid-row-gap: 26px;
    }

    .social_telegram_link {}

    .social_telegram_link_elipse {
        bottom: 0;
    }

    .social_discord_link_elipse {
        bottom: 0;
        left: 0;
    }
}

@media (max-width: 768px) {
    .social {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .socila_container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 26px;
        grid-row-gap: 26px;
        max-width: 426px;
    }

    .social_card {
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .social_card_title {
        margin-bottom: 15px;
    }

    .social_text {
        margin-bottom: 20px;
    }
}

.light {
    background-image: url(../img/faq/light.png);
    background-size: cover;
    width: 100%;
    min-height: 965px;
    position: absolute;
    top: 0;
    left: 0;
}

.faq_hero {
    padding-top: 143px;
    padding-bottom: 12px;
}

.faq_hero_link {
    display: flex;
    max-width: 223px;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    background: linear-gradient(180deg, rgba(8, 5, 32, 0.4) 0%, rgba(38, 42, 84, 0.4) 100%);
    border: 1px solid #FFFFFF1A;
    border-radius: 100px;
    backdrop-filter: blur(4px);
    padding: 14px 16px;
    position: relative;
    margin-bottom: 42px;
}

.faq_hero_link_text {
    font-size: 14px;
    font-weight: 400;
    background: linear-gradient(90deg, #B9C3F4 0%, #6C728E 100%);
    -webkit-background-clip: text;
    color: transparent;
}

.faq_hero_link_line {
    width: 101px;
    height: 1px;
    background: linear-gradient(90deg, rgba(106, 113, 211, 0) 2%, #BFC4FF 49.5%, rgba(106, 113, 211, 0) 100%);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
}

.faq_hero_title {
    font-size: 64px;
    font-weight: 400;
    text-align: center;
    background: linear-gradient(179.8deg, #D3D5E5 0.17%, #AEB0C9 99.83%);
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 44px;
}

.footer {
    padding-bottom: 130px;
}

.footer_container {
    max-width: 1188px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}

.foooter_top {
    display: flex;
    align-items: start;
    margin-bottom: 90px;
}

.footer_top_right {
    max-width: 310px;
    width: 100%;
    margin-right: 109px;
}

.footer_logo_link {
    display: flex;
    max-width: 148px;
    margin-bottom: 53px;
}

.footer_logo {
    width: 100%;
    object-fit: cover;
}

.footer_bg {
    max-width: 946px;
    height: 498px;
    position: absolute;
    top: 0;
    left: 37px;
    display: flex;
    z-index: -1;
}

.footer_bg>img {
    width: 100%;
    object-fit: cover;
}

.footer_top_right_title {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -0.02em;
    background: linear-gradient(179.8deg, #d3d5e5 0.17%, #aeb0c9 99.83%);
    -webkit-background-clip: text;
    color: transparent;
}

.footer_nav_title {
    font-size: 14px;
    font-weight: 400;
    color: #59595f;
    margin-bottom: 40px;
}

.footer_nav_list {
    display: flex;
    flex-direction: column;
    gap: 26px;
    list-style: none;
}

.footer_nav_link {
    font-size: 14px;
    font-weight: 400;
    line-height: 10px;
    letter-spacing: -0.02em;
    background: linear-gradient(179.8deg, #d3d5e5 0.17%, #aeb0c9 99.83%);
    -webkit-background-clip: text;
    color: transparent;
}

/* .footer_top:nth-child(1) {
    margin-right: 109px;
} */
.mr-123 {
    margin-right: 123px;
}

.footer_center_line {
    display: flex;
    width: 100%;
    height: 0.88px;
    background: linear-gradient(85.22deg,
            rgba(0, 0, 0, 0) 7%,
            #8e92ee 35.72%,
            #3b49e0 45.62%,
            #000000 82.26%);
    margin-bottom: 73px;
}

.footer_bottom {
    display: flex;
    align-items: start;
    gap: 110px;
}

.footer_bottom_info_box_left {
    display: flex;
    align-items: start;
    gap: 110px;
}

.footer_bottom_info_box {
    max-width: 309px;
    width: 100%;
}

.footer_info_text {
    font-size: 12px;
    font-weight: 400;
    color: #52535f;
}

.footer_bottom_info_box_right {
    max-width: 309px;
    width: 100%;
}

.footer_bottom_text {
    font-size: 14px;
    font-weight: 400;
    background: linear-gradient(90deg, #b9c3f4 0%, #6c728e 100%);
    -webkit-background-clip: text;
    color: transparent;
    /* margin-top: 143px; */
    position: absolute;
    bottom: 0;
    left: 0;
}




.faq_cards {
    padding-top: 99px;
    padding-bottom: 165px;
}

.faq_bg_container {
    padding-left: 75px;
    padding-right: 75px;
    max-width: 1298px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.faq_cards_container {
    max-width: 1188px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    position: relative;
    z-index: 20;
}

.vector_faq {}

.faq_card {
    background: linear-gradient(165.83deg, rgba(255, 255, 255, 0.072) 4.29%, rgba(255, 255, 255, 0.03) 72.39%);
    backdrop-filter: blur(20px);
    border: 1.5px solid #23223C;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    transition: all .3s;
    position: relative;
    min-height: 377px;
    overflow: hidden;
}

.faq_card:hover {
    background: linear-gradient(160.99deg, rgba(255, 255, 255, 0.036) 5.45%, rgba(255, 255, 255, 0.015) 99.45%);
    border-color: #20202C;
}

.faq_hover_bg {
    position: absolute;
    right: 0;
    top: 0;
    /* z-index: 30; */
    /* background-color: red; */
    z-index: -1;
    display: none;
}



.hover_faq_card_title {
    font-size: 14px;
    font-weight: 400;
    background: linear-gradient(90deg, #B9C3F4 0%, #6C728E 100%);
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 36px;
}

.hover_faq_card_list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    padding-left: 4px;
}

.hover_faq_card_link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    font-size: 18px;
    font-weight: 400;
    color: white;
    text-decoration: none;
}

.hover_faq_card_link_arrow {
    transition: all .3s;
}

.hover_faq_card_link:hover .hover_faq_card_link_arrow {
    transform: translate(15px);
}

.mt-8 {
    margin-top: 8px;
}

.hover_faq_card {
    position: relative;
    left: -100%;
    top: 0;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 36px;
    padding-bottom: 34px;
    transition: all .3s;
    width: 100%;
}

.faq_card_box {
    width: 100%;
    height: 100%;
    transition: all .3s;
    position: absolute;
    right: 0;
    top: 0;
    padding: 32px;
    display: flex;
    flex-direction: column;
}


.faq_card_bottom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 0px;
    left: 0;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 32px;
}

.faq_card_title {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -0.02em;
    background: linear-gradient(179.8deg, #D3D5E5 0.17%, #AEB0C9 99.83%);
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 24px;
}

.faq_card_text {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.02em;
    background: linear-gradient(179.8deg, #D3D5E5 0.17%, #AEB0C9 99.83%);
    -webkit-background-clip: text;
    color: transparent;
}



.faq_article_counter {
    font-size: 16px;
    font-weight: 400;
    color: #b9c3f4;
}

.faq_card_bottom_btn {
    display: flex;
    padding: 9px 16px;
    background-color: #FFFFFF1A;
    border: 1px solid #FFFFFF1A;
    backdrop-filter: blur(4px);
    border-radius: 100px;

}

.faq_card:hover .hover_faq_card {
    left: 0;
}

.faq_card:hover .faq_card_box {
    right: -100%;
}

.faq_card:hover .faq_hover_bg {
    display: block;
}


.faq_card_question {
    padding-left: 31px;
    padding-top: 90px;
    padding-bottom: 134px;
    padding-right: 66px;
}

.faq_card_question_title {
    font-size: 28px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.02em;
    background: linear-gradient(179.8deg, #D3D5E5 0.17%, #AEB0C9 99.83%);
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 28px;
}

.faq_card_question_link {
    max-width: 155px;
    display: flex;
    justify-content: center;
    position: relative;
    background-color: #3a48e0;
    border: 1px solid #99DAFF4D;
    border-radius: 12px;
    box-shadow: 0px 0px 30px 0px #3A48E080;
    text-decoration: none;
    padding: 12px;
}

.faq_card_question_link_box {
    display: flex;
    align-items: center;
    gap: 12px;
}

.faq_card_question_link_text {
    font-size: 14px;
    font-weight: 400;
    line-height: 10px;
    color: white;
}

.faq_card_question_elipse {
    position: absolute;
    bottom: -4px;
    left: 0;
}

.faq_card{
    cursor: pointer;
}

@media(max-width:1350px) {
    .faq_cards_container{
        padding-left: 20px;
        padding-right: 20px;
    }
    .faq_bg_container{
        padding-left: 0;
        padding-right: 0;
    }
}

@media(max-width:1024px) {
    .faq_cards_container{
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .faq_hero_link{
        margin-bottom: 30px;
    }
    .faq_hero_title{
        font-size: 48px;
        margin-bottom: 30px;
    }
    .faq_cards{
        padding-top: 50px;
        padding-bottom: 100px;
    }
    .faq_hero{
        padding-top: 100px;
    }
}

@media(max-width:768px) {
    .faq_cards_container{
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }
    .hover_faq_card_link{
        font-size: 14px;
    }
    .faq_hero_link{
        margin-bottom: 25px;
        width: fit-content;
    }
    .faq_hero_link_text{
        font-size: 10px;
    }
    .faq_hero_title{
        font-size: 30px;
        margin-bottom: 20px;
    }
    .hero_search_btn > div > span{
        display: none;
    }
    .faq_card_question{
        display: none;
    }
    .faq_cards_container{
        margin-bottom: 25px;
    }
    .faq_card_title{
        font-size: 20px;
    }
    .faq_card_text{
        font-size: 16px;
    }
    .faq_question{
        padding-left: 20px;
        padding-right: 20px;
    }
    .faq_card_question_title{
        font-size: 22px;
    }
}